<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<!-- 
    main includes: 
        -navbar
        -list of public events
        -list of private events
 -->
<%if(allEvents){%>
    <p><%= allEvents %></p>
<%} else {%>
    <p>No events found!</p>
<%}%>
<%- include("../partials/footer") %>