<%- include("../partials/header") %>
<form action="/login" method="POST">
    <input name="username" placeholder="username" type="text">
    <input name="password" placeholder="**********" type="password">
    <button>Submit</button>
</form>
<%- include("../partials/footer") %>