<%- include("../partials/header") %>
<form action="/login" method="POST">
    <input name="email" placeholder="email" type="email">
    <input name="password" placeholder="**********" type="password">
    <button>Submit</button>
</form>
<%- include("../partials/footer") %>