<%- include("../partials/header") %>
<form action="/login" method="POST">
    <input placeholder="email" type="email">
    <input placeholder="**********" type="password">
    <button>Submit</button>
</form>
<%- include("../partials/footer") %>