<%- include("../partials/header") %>

<main class="splash-view___container">
    <!-- container for the carousel + Buttons -->
    <div class="carousel-container">
        
    </div>

    <!-- container for the forms choice + Buttons -->
</main>

<%- include("../partials/footer") %>