<%- include("../partials/header") %>

<main class="splash-view___container">
    <!-- container for the carousel + Buttons -->
    <div class="carousel-container">
        <!-- slides container -->
        <!-- buttons container -->
    </div>

    <!-- container for the forms choice + Buttons -->
    <div class="forms-container">

        <!-- slides for forms container -->
        <div class="form-slides">
            <div id="login-form">
                Login
            </div>
            <div id="register-form">
                register
            </div>
        </div>

        <!-- buttons container -->
        <a href="#login-form">login</a>
        <a href="#register-form">register</a>

    </div>
</main>

<%- include("../partials/footer") %>