<nav class="nav-bar___container">
    <!-- replace this with a logo later -->
    <h1>Peer</h2>
    <ul class="nav-bar___list">
        <li>Home</li>
        <li>Account</li>
        <li>Map</li>
    </ul>
</nav>