$Card-color: rgba(238, 238, 238, 0.9);
$Dark-Blue: rgba(34, 124, 157, 1);
$Platinum: rgba(229,234,237, 1);
$Yellow: rgba(239, 211, 82, 1);
$Black: rgba(40, 40, 40, 1);
$Mid-Blue: rgba(121, 193, 209, 1);