.register-form___container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.register-form___form{
    display: flex;
    flex-direction: column;
}